.map-wrapper{
	position: relative;
}

.map-button{
	background-color: #fff;
	border-radius: 2px;
	border: none;
	font-size: 11px;
	line-height: 25px;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	margin-right: 12px;
	width: auto;
	position: absolute;
	padding: 2px 12px;
}

.map-button.active{
    box-shadow: 0 0 9px rgba(0,0,0,.4) inset;
}

.map-button:hover{
	background-color: #CCCCCC;
}

.toggle-marker{
	right: 0;
	top: 0;
}

.toggle-heatmap {
	right: 105px;
	top: 0;
}

.floating-message {
	position: absolute;
}

.no-data-message {
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
}

.filter-data {
    top: auto;
    bottom: 10px;
    background: white;
    border-radius: 3px;
    padding: 3px 7px;
    left: 15px;
}